@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    /* Color Theme Swatches */
    --light-green:   #B1E0CB;
    --green:         #5D8C77;
    --dark-green:    #113625;
    --light-brown:   #cab6ad;
    --brown:         #A17C77;
    --dark-brown:    #61362F;
    --almost-black:  #33120E;
    --almost-white:  #E2D4DD;
    --white:         #FFFFFF;
    --almost-white-lighter: #f4f1f1;

    /*Grid variables*/
    --grid-background-color-1: var(--dark-brown);
    --grid-border-color-1: var(--dark-brown);

    --grid-background-color-2: var(--green);
    --grid-border-color-2: var(--green);

    --grid-background-color-3: var(--brown);
    --grid-border-color-3: var(--brown);

    --grid-text-color: var(--almost-white);

    overscroll-behavior: none;
}

/*-- General --*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
    color: var(--almost-black);
}

p {
    font-size: 17px;
}

body {
    overscroll-behavior: none;
    background: var(--almost-white-lighter);
}

/*-- Promo --*/

#promo {
    background-color: var(--green);
    text-align: center;
    padding-top: 53px;
    padding-bottom: 3px;
}

#promo strong {
    color: var(--almost-white);
}

/*-- Cover --*/

#cover-image {
    display: inline-block;
    width: 70 vw;
}

#cover {
    display: flex;
    flex-direction: row;
}

#cover img {
    border-radius: 0px 0px 10px 0px;;
}

#quotes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px;
}

#quotes q {
    padding: 5px;
    font-size: 22px;
}

#quotes blockquote {
    display: block;
    background: var(--brown);
    padding: 20px;
    border-radius: 10px 0px 10px 0px;
    /*border-radius: 10px;*/
    color: var(--almost-white);
}

#quotes blockquote * {
    color: var(--almost-white);
}

/*-- Footer --*/

footer {
    background: var(--almost-black);
    padding: 1% 3% 0% 3%;
    overflow-x: hidden;
}

footer * {
    display: block;
    color: var(--almost-white) !important;
    text-decoration: none;
}

#footer-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "zona1"
                         "zona2";
}

#footer-grid>:nth-child(1) {
    grid-area: zona1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "zona1 zona2 zona3";
}

#footer-grid>:nth-child(2) {
    grid-area: zona2;
    height: 50px;
}

#footer-grid>:nth-child(1)>:nth-child(1) {
    grid-area: zona1;
}

#footer-grid>:nth-child(1)>:nth-child(2) {
    grid-area: zona2;
}

#footer-grid>:nth-child(1)>:nth-child(3) {
    grid-area: zona3;
    margin-left: 20vw;
    margin-top: 30px;
}

/*-- Link Top --*/

#link-top, #link-top * {
    opacity: 70%;
}

#link-top:hover, #link-top:hover * {
    opacity: 88%;
}

#link-top {
    position: fixed;
    bottom: 40px;
    right: 25px;

    display: block;
    rotate: 45deg;
    border: 2px solid var(--brown);
    width: 35px;
    height: 35px;

    transition: all 1s linear;
}

#link-top>div {
    display: block;
    rotate: -45deg;

    width: 0; 
    height: 0; 
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 30px solid var(--almost-white);
    border-radius: 0px 0px 20px 20px;

    transition: all 0.3s linear;
}

#link-top:hover {
    background: var(--almost-white);
}

#link-top:hover>div {
    border-bottom-color: var(--almost-black);
}

#link-top>div:after {
    content: "go up";
    position: absolute;
    top: 20px;
    right: 30px;
    width: 50px;
    height: auto;
    display: none;
    text-align: center;
    color: var(--almost-black);
    background: var(--almost-white);
    border-radius: 4px;
    padding: 2px;
    border: 2px solid var(--brown);
}

#link-top>div:hover:after {
    display: block;
}

/*-- Main Grid --*/

#home-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "zona1 zona1 zona1 zona1 zona1"
                         "zona3 zona3 zona2 zona4 zona4"
                         "zona5 zona5 zona2 zona4 zona4"
                         "zona5 zona5 zona6 zona6 zona7"
                         "zona8 zona8 zona8 zona8 zona8";
}

#home-grid-1 {
    grid-area: zona1;
    margin: 0% 0% 1% 0%;
}

#home-grid-2 {
    grid-area: zona2;
    border: 3px solid var(--almost-white);
    background-color: var(--almost-white);
}

#home-grid-3 {
    grid-area: zona3;
    border: 3px solid var(--grid-border-color-2);
    background-color: var(--grid-background-color-2);
}

#home-grid-4 {
    grid-area: zona4;
    border: 3px solid var(--grid-border-color-1);
    background-color: var(--grid-background-color-1);
}

#home-grid-5 {
    grid-area: zona5;
    border: 3px solid var(--grid-border-color-1);
    background-color: var(--grid-background-color-1);
}

#home-grid-6 {
    grid-area: zona6;
    border: 3px solid var(--grid-border-color-2);
    background-color: var(--grid-background-color-2);
}

#home-grid-7 {
    grid-area: zona7;
    border: 3px solid var(--grid-border-color-3);
    background-color: var(--grid-background-color-3);
}

#home-grid-8 {
    grid-area: zona8;
    margin: 0.8vw;
    border: 2px solid var(--almost-white);
    border-radius: 10px 10px 10px 10px;
}

.home-grid-card {
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
}

/*-- Styling the grid elements --*/

#events * ,#events {
    color: var(--grid-text-color);
}

#news * ,#news {
    color: var(--grid-text-color);
}

#online-users * ,#online-users {
    color: var(--grid-text-color);
}

#users-data * ,#users-data {
    color: var(--grid-text-color);
}

#website-data * ,#website-data {
    color: var(--grid-text-color);
}

/*-- Iframe --*/

#home-iframe {
    display: flex;
    flex-direction: column;
    width: 560px;
    margin-top: 30px;
    margin-right: 0.8vw;
}

#home-iframe>div>div {
    display: flex;
    flex-direction: row;
    margin: 0% 10% 0% 0%;
}

#home-iframe>div>div a {
    border-top: 3px solid var(--almost-black);
    border-left: 3px solid var(--almost-black);
    border-right: 3px solid var(--almost-black);
    border-radius: 6px 6px 0px 0px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s linear;
}

#home-iframe>div>div a:hover {
    background-color: var(--almost-black);
    color: var(--almost-white);
}

#home-iframe iframe {
    border: 3px solid var(--almost-black);
    border-radius: 0px 5px 5px 5px;
}

#home-iframe>h2 {
    margin-bottom: 20px;
}

/*-- Featured Products --*/

#featured {
    background-color: var(--light-brown);
    border-radius: 10px;
}

#featured-title {
    background-color: var(--almost-black);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

#featured-title * {
    color: var(--almost-white);
}

#featured-products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "zona1 zona2 zona3 zona4 zona5"
                         "zona6 zona7 zona8 zona9 zona10"
                         "zona11 zona11 zona11 zona11 zona11";
}

#product-grid-1 {
    grid-area: zona1;
}

#product-grid-2 {
    grid-area: zona2;
}

#product-grid-3 {
    grid-area: zona3;
}

#product-grid-4 {
    grid-area: zona4;
}

#product-grid-5 {
    grid-area: zona5;
}

#product-grid-6 {
    grid-area: zona6;
}

#product-grid-7 {
    grid-area: zona7;
}

#product-grid-8 {
    grid-area: zona8;
}

#product-grid-9 {
    grid-area: zona9;
}

#product-grid-10 {
    grid-area: zona10;
}

#featured-link {
    grid-area: zona11;
    background-color: var(--almost-black);
    text-decoration: none;
    padding: 5px 5px 0px 5px;
    border-radius: 5px;
    text-align: center;
    color: var(--almost-white);
}

.product-card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    margin: 0.8vw;
    text-align: center;
    transition: all 0.75s ease-in;
}

.product-card:hover {
    background: var(--dark-brown);
}

.product-card:hover>dd {
    color: var(--almost-white);
}

/*-- Our Story --*/

#our-story {
    display: flex;
    flex-direction: row;
}

#our-story>:nth-child(1) {
    padding: 1vw;
}

#our-story>:nth-child(1)>h2 {
    margin-top: 10px;
    margin-left: 5px;
}

/*-- Materials --*/

#materials {
    padding: 1vw;
}

#materials>h2 {
    margin-top: 10px;
    margin-left: 5px;
}

details summary > * {
    display: inline;
}

details summary { 
    cursor: pointer;
}

/*-- Coins Table Styling --*/

#coins-table {
    border-collapse: collapse;
    border: 5px solid var(--almost-white);
    background: var(--almost-white);
}

#coins-table th, table td {
    border: 1px solid var(--almost-white);
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    border-radius: 10px;
}

.coins-table-entry>:nth-child(odd) {
    color: var(--almost-white);
    background: var(--green);
}

.coins-table-entry>:nth-child(even) {
    color: var(--almost-black);
    background: var(--light-green);
}

.coins-table-head, #coins-table-foot {
    color: var(--almost-white);
    background: var(--dark-green);
}

.coins-table-entry td {
    transition: all 0.75s linear;
    margin: 1px;
}

.coins-table-entry:hover td {
    border: 2px solid var(--almost-white);
    margin: 0;
    color: var(--almost-white);
    background: var(--almost-black);
}