<!DOCTYPE html>
<html lang="eng">

<head>
    <%- include('../fragments/head.ejs') %>
</head>

<body>
    <%- include('../fragments/header.ejs') %>

    <main>

    </main>

    <%- include('../fragments/footer.ejs') %>
</body>

</html>