<footer>
    <a id="link-top" href="#">
        <div>
            <div id="link-top-tooltip"></div>
        </div>
    </a>
    <div id="footer-grid">
        <address>
            <div>
                <h4>Contact</h4>
                <a href="tel:+40-7XX-XXX-XXX">(+40) 7XX XXX XXX</a>
                <a href="mailto:exemple@email.com">exemple@email.com</a>
            </div>

            <div>
                <h4>Address</h4>
                <abbr title="oakniq headquarters">Oakniq HQ:</abbr>
                Faculty of Mathematics and Computer Science
                Strada Academiei 14,
                010014, Bucharest, Romania
                <a href="https://maps.app.goo.gl/4YgeW37iz13TPwcH7">Google Maps📍</a>
            </div>

            <div>
                <script src="https://static.elfsight.com/platform/platform.js" async></script>
                <div class="elfsight-app-31cfb29e-a404-461b-8aca-4a35a4af6afb" data-elfsight-app-lazy></div>
            </div>
        </address>

        <small>
            &#169; 2024 Oakniq. All Rights Reserved.<br>
            All content, designs, and images on this website are the property of Oakniq. Unauthorized reproduction, distribution, or use of any part of this site without express written permission is strictly prohibited.
            <time datetime="2024-11-29 9:31">Website published on 29.11.2024.</time>
        </small>
    </div>
</footer>