<header>
    <nav id="navbar">
        <ul id="navbar-grid">
            <li id="title">
                <a href="/home">
                    <img src="/images/ico/favicon-96x96.png" style="width: 30px; height: 30px;">
                    <h1>Oakniq</h1>
                </a>
            </li>
            <li class="navbar-option">
                <a id="navbar-home" href="/home">Home</a>
                <div class="navbar-option-hover-bar"></div>
                <ul class="dropdown">
                    <li><a href="/home#featured">Featured</a></li>
                    <li><a href="/home#our-story">Our Story</a></li>
                    <li><a href="/home#materials">Materials</a></li>
                </ul>
            </li>
            <li class="navbar-option">
                <a href="/shop">Shop</a>
                <div class="navbar-option-hover-bar"></div>
                <ul class="dropdown">
                    <li><a href="/shop#tech">Tech</a></li>
                    <li><a href="/shop#decor">Decor</a></li>
                </ul>
            </li>
            <li class="navbar-option">
                <a id="navbar-faq" href="/faq">FAQ</a>
                <div class="navbar-option-hover-bar"></div>
            </li>
            <li class="navbar-option">
                <a href="/contact">Contact</a>
                <div class="navbar-option-hover-bar"></div>
            </li>
            <li class="navbar-option">
                <a href="/mycart">My Cart</a>
                <div class="navbar-option-hover-bar"></div>
            </li>
        </ul>
    </nav>
</header>